header
	.container.header__container
		.header__content
			.header__title Ты готов стать профессионалом?
			.header__descr Мы ищем <span>талантов</span> и <span>саппортов</span> в команду. Решите на какую категорию вы претендуете.
			.header__button <span class="btn__text">Заполнить анкету</span><span class="btn__plus">+</span>




