section.advantages-section
	.container.advantages__container
		.page-title Приемущества работы с нами
		.advantages__list
			.advantages__item
				.img__wrapper
					img(src="./img/wallet.svg" alt="wallet")
				.item__title Делимся оптом и навыками
				.item__descr Мы обучаем коллег всему, что знаем сами. Наш опыт уникален и проверен временем, а команда постоянно совершенствует свои знания и навыки.
			.advantages__item
				.img__wrapper
					img(src="./img/wallet.svg" alt="wallet")
				.item__title Стабильная зарплата
				.item__descr Вы без задержек получаете официальную зарплату. Также мы оплачиваем больничные и даем возможность брать оплачиваемый отпуск до 4 недель в год.
			.advantages__item
				.img__wrapper
					img(src="./img/wallet.svg" alt="wallet")
				.item__title Гибкий график
				.item__descr Мы умеем работать с теми, кто еще не закончил получать образование. Вы можете работать неполный рабочий день, брать отгулы на время сессии и диплома.